.posttitle {
    padding: 0;
    margin: 0;
}

.timestamp {
    padding: 0;
    margin: 0;
    font-style: italic;
}

.tags {
    padding: 0;
    margin: 0;
    font-style: italic;
    color: grey;
}

.postcontent {
    margin: 1rem auto;
    line-height: 1.5rem;
}

