.post {
    padding: 1.5rem 0;
    margin: 0;
    border-bottom: 1px solid var(--bg-secondary);
}

.post:first-of-type {
    padding: 0 0 1.5rem;
}

.post:last-of-type {
    border-bottom: none;
}

.detail-link {
    padding: 0;
    margin: 1rem 0 0.5rem;
}

#no-posts-msg {
    font-style: italic;
}

