{% extends 'core/base.html' %}
{% load static %}
{% block title %}Portfolio{% endblock %}
{% block header_ext %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/index.css' %}">
{% endblock %}
{% block main %}
    <h2 class="heading">Here's some stuff I've made.</h2>
    {% if projects %}
        <div class="projects-container">
            {% for project in projects %}
                <a class="detail-link" href="{% url 'portfolio:detail' project.slug %}">
                    <div class="project">
                        <h2 class="project-name">{{ project.name }}</h2>
                        <div class="project-image-container">
                            <img class="project-image" src="{{ project.image.url }}">
                        </div>
                        <div class="project-description">
                            {{ project.preview|safe }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>Nothing to show for...</p>
    {% endif %}
{% endblock %}
