{% extends 'core/base.html' %}
{% load static %}

{% block title %}Blog{% endblock %}
{% block header_ext %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/index.css' %}" />
{% endblock %}

{% block main %}
    <h1>Welcome to my blog.</h1>
{% if posts %}
    {% for post in posts %}
    <div class="post">
        <h2 class="posttitle">{{ post.title }}</h2>
        <p class="timestamp">{{ post.creation_date }}</p>
        <p class="tags">Tags: {{ post.tag_list }}</p>
        <div class="postcontent">
            {{ post.preview|safe }}
            <a class="detail-link" href="{% url 'blog:detail' post.slug %}">Read more</a>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div id="no-posts-msg">
        <p>No posts available.</p>
    </div>
{% endif %}

{% endblock %}
