{% extends 'core/base.html' %}
{% load static %}

{% block title %}Blog{% endblock %}
{% block header_ext %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/index.css' %}" />
{% endblock %}

{% block main %}
    <h1>Welcome to my blog.</h1>
    <p>I like to post random pieces on here. There's no theme or anything like that&mdash;if I write something that I'm proud of or need to share, it might end up here. It's also a custom Django app, and you can find the source at this website's <a href="https://github.com/NoahGeller/personal_site">GitHub respository</a> if you're curious.</p>
{% if posts %}
    {% for post in posts %}
    <a class="detail-link" href="{% url 'blog:detail' post.slug %}">
        <div class="post">
            <h2 class="posttitle">{{ post.title }}</h2>
            <p class="timestamp">{{ post.creation_date }}</p>
            <p class="tags">Tags: {{ post.tag_list }}</p>
            <div class="postcontent">
                <p>{{ post.preview|safe }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
{% else %}
    <div id="no-posts-msg">
        <p>No posts available.</p>
    </div>
{% endif %}

{% endblock %}
