{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lobster&display=swap" rel="stylesheet">
    <script src="{% static 'core/js/script.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% block header_ext %}{% endblock %}
</head>
<body>
    <header id="header">
        <div id="branding">
            <a href="{% url 'core:index' %}">Noah Geller</a>
        </div>
        <nav id="navbar">
            <ul id="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio:index' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:index' %}">Blog</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <p>Copyright &copy; Noah Geller {% now 'Y' %}. All rights reserved.</p>
    </footer>
</body>

</html>
